/* Write your CSS here */
.list-item{
    list-style-type: none;
    width: 50%;
}
.link{
    background-color: #ffffff33;
    height: 85%;
    border-radius: 12px;
    border: 1px solid #ffffff;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.image{
    width: 80px;
    height: 80px;
}
.para{
    color: #ffffff;
    font-size: 32px;
    font-family: "Bree Serif";
    text-align: center;
    margin-left: 16px;
}